.ScrollButtons {
  position: fixed;
  bottom: 60px;
  right: 12px;
  z-index: calc(~"var(--zindex-header) + 5");
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;

  &.is-visible {
    opacity: 1;
    visibility: visible;
  }

  @media @phone {
    bottom: 70px;
    right: 8px;
  }
}

.ScrollButtons-button {
  display: block;
  width: 36px;
  height: 36px;
  border-radius: var(--border-radius);
  .Button--color(#fff, @secondary-color);

  & + & {
    margin-top: 4px;
  }
}
